<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name= "cn" connectionString="Data Source=DESKTOP-R52BL7R\SQLEXPRESS;Initial Catalog=Magazin_Jocuri;Integrated Security=True"/>
	</connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>

	
	<!-- <appSettings> -->
	<!-- 	<add key="ParentTable" value="Client"/> -->
	<!-- 	<add key="ChildTable" value="Card"/> -->
	<!-- 	<add key="ParentPrimaryKey" value="Id_Client"/> -->
	<!-- 	<add key="ChildForeignKey" value="idClient"/> -->
	<!-- 	<add key="ParentColumnsNames" value="id_Client,Nume,email,fonduri"/> -->
	<!-- 	<add key="ChildColumsNames" value="id,numeBanca,numar,dataExpirare,cvv,idClient"/> -->
	<!-- 	<add key="ParentSelectAll" value="select * from Client"/> -->
	<!-- 	<add key="ChildSelectAll" value="select * from Card where idClient=@ParentId"/> -->
	<!-- 	<add key="Update" value="update Card set numeBanca='@numeBanca', numar='@numar', dataExpirare='@dataExpirare', cvv='@cvv' where id='@Id'"/> -->
	<!-- 	<add key="UpdateVar" value="@numeBanca,@numar,@dataExpirare,@cvv,@Id"/> -->
	<!-- 	<add key="Delete" value="delete from Card where id=@Id"/> -->
	<!-- 	<add key="Insert" value="insert into Card(numeBanca,numar,dataExpirare,cvv,idClient) values('@numeBanca','@numar','@dataExpirare', '@cvv', '@idClient')"/> -->
	<!-- 	<add key="InsertVar" value="@numeBanca,@numar,@dataExpirare,@cvv,@idClient"/> -->
	<!-- </appSettings> -->
	

	<appSettings>
		<add key="ParentTable" value="Client"/>
		<add key="ChildTable" value="ServerConnections"/>
		<add key="ParentPrimaryKey" value="Id_Client"/>
		<add key="ChildForeignKey" value="id_client"/>
		<add key="ParentColumnsNames" value="id_Client,Nume,email,fonduri"/>
		<add key="ChildColumsNames" value="id,serverName,ip,port,id_client"/>
		<add key="ParentSelectAll" value="select * from Client"/>
		<add key="ChildSelectAll" value="select * from ServerConnections where id_client=@ParentId"/>
		<add key="Update" value="update ServerConnections set serverName='@serverName', ip='@ip', port='@port'  where id=@Id"/>
		<add key="UpdateVar" value="@serverName,@ip,@port,@Id"/>
		<add key="Delete" value="delete from ServerConnections where id=@Id"/>
		<add key="Insert" value="insert into ServerConnections(serverName,ip,port,id_client) values('@serverName','@ip','@port','@id_client')"/>
		<add key="InsertVar" value="@serverName,@ip,@port,@id_client"/>
	</appSettings>
</configuration>